<footer class="container">
  <div class="row">
    <div class="col-9">{% t footer.love %}লোটাস টেকনোলোজিস। {% t footer.copyright %}</div>
    <div class="col-3 text-right">
      <a href="https://fb.me/nirbachan.bd" target="_blank">
        <object data="/assets/images/facebook.svg" width="35" height="35" type="image/svg+xml"
                style="pointer-events:none">facebook</object>
      </a>
      <a href="https://twitter.com/ferdous" target="_blank">
        <object data="/assets/images/twitter.svg" width="35" height="35" type="image/svg+xml"
                style="pointer-events:none">twitter</object>
      </a>
    </div>
  </div>
</footer>
