<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="https://fb.me/nirbachan.bd" target="_blank">
        <object data="/assets/images/facebook.svg" width="35" height="35" type="image/svg+xml"
                style="pointer-events:none"></object>
      </a>
      <a href="https://twitter.com/ferdous" target="_blank">
        <object data="/assets/images/twitter.svg" width="35" height="35" type="image/svg+xml"
                style="pointer-events:none"></object>
      </a>
    </p>
    <p>{% t footer.love %} লোটাস টেকনোলোজিস</p>
  </div>
</footer>
