<footer class="footer">
  <div class="footer__container">
    <p class="footer__love">{% t footer.love %} লোটাস টেকনোলোজিস</p>
    <div class="footer__social">
      <a class="footer__link" href="https://fb.me/nirbachan.bd" target="_blank">
        <object data="/assets/images/facebook.svg" width="35" height="35" type="image/svg+xml"
                style="pointer-events:none"></object>
      </a>
      <a class="footer__link" href="https://twitter.com/ferdous" target="_blank">
        <object data="/assets/images/twitter.svg" width="35" height="35" type="image/svg+xml"
                style="pointer-events:none"></object>
      </a>
    </div>
  </div>
</footer>
