body {
  background: #f8f9fa;
}

.navigation__logo-img {
  width: 55px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.jumbotron.text-center {
  margin: 0 auto;
  padding: 20px 0 10px;
  background-image: url("/assets/images/tron.jpg");
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
  p{color: #fff;}
}
