@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background: #f8f9fa;
}

.navigation__logo-img {
  width: 55px;
}

.jumbotron.text-center {
  margin: 0 auto;
  padding: 20px 0 10px;
  background-image: url("/assets/images/tron.jpg");
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  p {
    color: #fff;
  }
}

.meta {
  color: #9E9E9E;
  font-size: 90%;
  margin: 0 auto;
}

.card-title {
  margin-bottom: 0;
}

a {
  display: inline-block;
}

footer{
  margin-bottom: 20px;
}
