---
layout: default
---
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{% t home.header.headline %}</h1>
    <p class="lead">সংসদ নির্বাচন একটি এন্ড্রয়েড অ্যাপ্লিকেশন। এখানে আপনি বাংলাদেশে অনুষ্ঠিত ১৯৭০ সাল থেকে ২০১৪ সাল পর্যন্ত
      সকল সংসদ নির্বাচনের বিস্তারিত তথ্য পাবেন। এই এপ এর মধ্যে আছে বাংলাদেশে অনুষ্ঠিত সকল সংসদ নির্বাচনের আসন ভিত্তিক এবং আসনের সকল ভোট কেন্দ্রের বিস্তারিত তথ্য।
      এটি নিয়মিত আপডেট করা হবে। এই এপ এর মূল্য ১০০ টাকা মাত্র।</p>
    <p>
      <a href="https://www.dropbox.com/s/vtwlmmsvkuliava/nirbachan-release.apk?dl=1"
         class="btn btn-lg btn-primary my-2">এই সাইট থেকে ডাউনলোড করুন</a>
      <a target="_blank"
         href="https://play.google.com/store/apps/details?id=com.nirbachan.app&utm_source=nirbachan.com&utm_campaign=home&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
         class="btn btn-lg btn-warning my-2">গুগল প্লে ষ্টোর থেকে ডাউনলোড করুন</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="col-12">
      {% for post in site.posts %}
      <article class="card mb-4">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="card-body">
          <a class="card-title" href="{{ post.url | relative_url }}">
            <h2 class="blog__title">{{ post.title | escape }}</h2>
          </a>
          <div class="card-subtitle">
            <p class="meta">{{ post.date | date: date_format }}</p>
            <p class="meta">by {{ post.author }}</p>
          </div>
          <p class="card-text">{{ post.excerpt }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>
