---
layout: default
---
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{% t home.header.headline %}</h1>
    <p class="lead">সংসদ নির্বাচন একটি এন্ড্রয়েড অ্যাপ্লিকেশন। এখানে আপনি বাংলাদেশে অনুষ্ঠিত ১৯৭০ সাল থেকে ২০১৪ সাল পর্যন্ত
      সকল সংসদ নির্বাচনের বিস্তারিত তথ্য পাবেন। এই এপ এর মধ্যে আছে বাংলাদেশে অনুষ্ঠিত সকল সংসদ নির্বাচনের আসন ভিত্তিক এবং আসনের সকল ভোট কেন্দ্রের বিস্তারিত তথ্য।
      এটি নিয়মিত আপডেট করা হবে। এই এপ এর মূল্য ১০০ টাকা মাত্র।</p>
    <p>
      <a href="https://www.dropbox.com/s/vtwlmmsvkuliava/nirbachan-release.apk?dl=1"
         class="btn btn-lg btn-primary my-2">এই সাইট থেকে ডাউনলোড করুন</a>
      <a target="_blank"
         href="https://play.google.com/store/apps/details?id=com.nirbachan.app&utm_source=nirbachan.com&utm_campaign=home&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
         class="btn btn-lg btn-warning my-2">গুগল প্লে ষ্টোর থেকে ডাউনলোড করুন</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <div class="text-center">
              <iframe width="1060" height="715" src="https://www.youtube.com/embed/him5L9OMPac?controls=0"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <p>এখানে প্রতিটি টি আসন ও ভোট কেন্দ্রের বিস্তারিত যে সকল তথ্য রয়েছে তা নিম্নরুপঃ</p>
            <p>প্রতিটি নির্বাচনের আসন ভিত্তিক বিস্তারিত তথ্যঃ</p>
            <ul>
              <li>আসনের নাম, নির্বাচনী এলাকার নম্বর এবং নির্বাচন এর বছর৷</li>
              <li>আসনের মোট ভোট, প্রদত্ত ভোট, অবৈধ ভোট৷</li>
              <li>আসনের বিজয়ীর নাম, ছবি, প্রাপ্ত ভোট, প্রতীক ও দলের নাম৷</li>
              <li>আসনের দ্বিতীয় প্রার্থীর নাম, ছবি, প্রাপ্ত ভোট, প্রতীক ও দলের নাম৷</li>
              <li>আসনের তৃতীয় প্রার্থীর নাম, ছবি, প্রাপ্ত ভোট, প্রতীক ও দলের নাম৷</li>
            </ul>
            <p>প্রতিটি আসন ভিত্তিক ভোট কেন্দ্রের বিস্তারিত তথ্য:</p>
            <ul>
              <li>ভোট কেন্দ্রের নাম, আসন এর নাম, এবং নির্বাচন এর সাল৷</li>
              <li>ভোট কেন্দ্রের মোট ভোট, প্রদত্ত ভোট ও অবৈধ ভোট৷</li>
              <li>ভোট কেন্দ্রের বিজয়ীর নাম, প্রাপ্ত ভোট, প্রতীক ও দলের নাম৷</li>
              <li>ভোট কেন্দ্রের দ্বিতীয় প্রার্থীর নাম, প্রাপ্ত ভোট, প্রতীক ও দলের নাম৷</li>
              <li>ভোট কেন্দ্রের তৃতীয় প্রার্থীর নাম, প্রাপ্ত ভোট, প্রতীক ও দলের নাম৷</li>
            </ul>
            <p>এছাড়াও এখানে পাবেনঃ</p>
            <ul>
              <li>অ্যাপ্লিকেশন জুড়ে সহজ এবং নমনীয় অনুসন্ধান এর সুবিধা৷</li>
              <li>অ্যাপ্লিকেশন এর মধ্যে সহজ প্রবেশাধিকার এর জন্য বুকমার্ক৷</li>
              <li>অ্যাপ্লিকেশন এর সমস্ত তথ্য অফলাইন। তাই এই অ্যাপ্লিকেশন ইন্টারনেট ছাড়া ব্যবহার করা যাবে৷</li>
            </ul>
            <p>সংসদ নির্বাচনের তথ্য সহজে প্রাপ্য নয়। এটিই আমাদের সীমাবদ্ধতা। ভুল ত্রুটি ক্ষমা সুন্দর দৃষ্টিতে দেখবেন।
              আপনাদের
              মূল্যবান মতামত আমাদের জানালে আমরা কৃতজ্ঞ থাকবো। আমাদের সাথে যোগাযোগের মোবাইল নম্বরঃ ০১৭৫১৯৪৮৮৭৭</p>
            <p>তথ্য সূত্রঃ</p>
            <ul>
              <li>ecs.gov.bd</li>
              <li>parliament.gov.bd</li>
              <li>বাংলাদেশের নির্বাচন - এ এস এম শামসুল আরেফিন</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
