---
layout: default
---
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{% t home.header.headline %}</h1>
    <p class="lead">এই অ্যাপ আমাদের দীর্ঘ দিনের অক্লান্ত পরিশ্রমের ফসল। এটি নিয়মিত আপডেট করা হবে। মোবাইলে
      আঙ্গুলের টিপে সহজে তথ্য
      পাওয়ার মাধ্যমে নির্বাচিত ও সাবেক সংসদ সদস্যগণ, রাজনৈতিক নেত্রীবৃন্দ, কর্মী, গবেষক, ইতিহাসবিদ এবং আগ্রহী নাগরিকগণের
      তাৎক্ষনিক প্রয়োজন মেটালে আমাদের পরিশ্রম সার্থক বলে গণ্য হবে। এই এপ এর মূল্য ১০০ টাকা মাত্র।</p>
    <p>
      <a href="https://www.dropbox.com/s/vtwlmmsvkuliava/nirbachan-release.apk?dl=1" class="btn btn-lg btn-primary my-2">এই
        সাইট থেকে ডাউনলোড করুন</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <div class="card-header"><h1 class="card-title">{{ page.title | escape }}</h1></div>
          <div class="card-body">{{ content }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
